Pneumonia/
Tomato-Leaf-Disease-Prediction-master/
FINAL_RESEARCH_REPORT.md
Video [ 8 Sept 2026 ].mp4
New folder/
Antigravity-x64.exe
[RestNet-50] Tomato body Dataset/model_comparison_results/models/VGG16_best.pth

